body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
main {
    background-color: lightskyblue;
    color: black;
    padding: 20px;
}
footer {
    background-color: lightcyan;
    color: black;
    font-size: 14px;
    padding: 10px;
    font-style: italic;
    text-align: right;
}
header {
    background-color: lightcyan;
    color: black;
    font-size: 16px;
    padding: 10px;
}
a { 
    text-decoration: none;
    transition: 1s 2s;
}
a:link {
    color: blue;
}
a:visited {
    color: purple;
}
a:hover {
    color: red;
    text-decoration: underline;
    background-color: lightgray;
    box-shadow: 2px 2px 5px black;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s;
}
a:active {
    color:black;
    opacity: 0.3;
}
div.menu {
    border: 7px solid;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    background: lightgray;
    box-shadow: 5px 5px 10px black;
    transition: 0.3;
}
div.menu:hover {
    background-color: darkgray;
    box-shadow: black;
}